<!DOCTYPE HTML>
<!-- Jerry Pennell -->
<!-- Advanced Scalable Data Infrastructures -->
<!-- week 2 -->
<!-- Term 1208 -->
<html>
  <head>
    <title>comic</title>

    <link rel="stylesheet" href="style/jquery.mobile-1.1.1.css" />
    <link rel="stylesheet" href="style/comic.css"/>


    <script src="js/vendor/jquery-1.8.0.min.js"></script>
    <script src="js/vendor/jquery.mobile-1.1.1.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/vendor/formparams.js"></script>

    <!-- App specific scripts -->
    <script src="js/main.js"></script>

    <!-- templates -->
    <script type="text/template" id="comic-list-item-template">
      <li><a href="#comic-details" identifier="<%= id %>"><%= displayDate %> - <%= publisher %></a></li>
    </script>

    <script type="text/template" id="comic-details-template">
        <h3><%= publisher %></h3>
        <ul data-role="listview" id="comic-fields" data-inset="true">
          <li>Date: <%= displayDate %></li>
          <li>Publisher: <%= publisher %></li>
          <li>Comic Name: <%= title %></li>
          <li>Issue: <%= issue%></li>
          <li>Comments: <%= comments %></li>
        </ul>
    </script>

    <script type="text/template" id="comic-form-template">
        <label for="date" class="select">Date</label>
        <% if (navigator.userAgent.indexOf('iPhone') >= 0 || navigator.userAgent.indexOf('iPad') >= 0) { %>
            <input type="date" name="date" id="date" placeholder="Date" value="<%= dateInputType %>" />
        <% }else{ %>
            <input type="date" name="date" id="date" placeholder="Date" value="<%= displayDate %>" />
        <% } %>

        <label for="publisher" class="select">Publisher</label>
        <select name="publisher" id="publisher">
            <option>DC</option>
            <option>Marvel</option>
            <option>Image</option>
            <option>Dark Horse</option>
        </select>

        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="" value="<%= title %>" />

        <label for="issue">Issue</label>
        <input type="number" name="issue" id="issue" placeholder="" value="<%= issue %>" />

        <div data-role="fieldcontain">
            <textarea name="comments" id="comments" placeholder="Comments"><%= comments %></textarea>
        </div>
    </script>

    <!-- template for showing demo of pulling remote data -->
    <script type="text/template" id="comic-data-template">
         <a href="twitter.html" rel="external" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="b">Twitter - (JSONP)</a>
         <a href="flicker.html" rel="external" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="b">Flicker - (JSON)</a>
         <a href="rssfeed.html" rel="external" data-role="button" data-iconpos="right" data-icon="arrow-r" data-theme="b">RSS Feed - (XML)</a>
    </script>

    <!-- maximum scale added to stop zoom on select controls -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  </head>
  <body>

    <div data-role="page" id="comics">
      <div data-role="header">
        <h1>Comics</h1>
        <a href="#comic-data" data-role="button" data-icon="gear" id="gear-button" class="ui-btn-left">Data demo</a>
        <a href="#comic-form" data-role="button" data-icon="add" id="add-button" class="ui-btn-right">Add</a>
      </div>
      <div data-role="content">
          <!-- the contents of the list view will be rendered via the backbone view -->
      </div>
    </div>

    <div data-role="page" id="comic-details" data-add-back-btn="true">
      <div data-role="header">
        <a href="#comic-form" data-role="button" data-icon="arrow-d" id="edit-comic-button" class="ui-btn-right">Edit</a>
        <h1>Comic Details</h1>
      </div>
      <div data-role="content" id="comic-details-content">
          <!-- the contents of the list view will be rendered via the backbone view -->
      </div>
    </div>

    <div data-role="page" id="comic-form" data-add-back-btn="true">
      <div data-role="header">
        <a href="#" data-role="button" data-icon="check" data-theme="b" data-rel="back" id="save-comic-button" class="ui-btn-right">Save</a>
        <h1>New Comic</h1>
      </div>
      <div data-role="content" id="comic-form-content">
          <!-- the contents of the form will be rendered via the backbone view -->
          <form id="comic-form-form" action="#"></form>
      </div>
    </div>

     <div data-role="page" id="comic-data" data-add-back-btn="true">
      <div data-role="header">
        <h1>Data Loading Demo</h1>
        <a href="#comic-data" data-role="button" data-icon="home" id="go-back-home" class="ui-btn-right">Home</a>
      </div>
      <div data-role="content" id="comic-data-content">
         <!-- the contents of the list view will be rendered via the backbone view -->
         <form id="comic-data-form" action="#"></form>
      </div>
    </div>
  </body>
</html>
